ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.search-top {
    height: 200px;
    display: flex;
    position: fixed;
    position: relative;
    background-image: url("../image/adimage.jpg");
    background-size: 433px;
    justify-content: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-position: -25px -60px;
    /* 让 搜索input居中
    align-items: center; */
    padding: 5px;
    /*定在顶部*/
    top: 0;
}

.search-input {
    height: 22px;
    width: 100%;
    border-radius: 10px;
    border: 0;
    box-shadow: 1px 1px 10px black;
    flex: 1;
    margin: 4px;
    padding-left: 25px;
}

.search-top::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../image/iconSpirit/home-sprite.png");
    background-position: 0px 0px;
    /*缩小*/
    /* transform-origin: 0 0; */
    border-radius: 10px;
    transform: scale(0.55);
    left: 8px;
}

.search-user {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    color: white;
    /* position: relative; */
}

.search-user::before {
    width: 42px;
    height: 42px;
    content: "";
    /* position: absolute; */
    background-image: url("../image/iconSpirit/home-sprite.png");
    background-repeat: no-repeat;
    background-position: 7px -41px;
    /* transform: scale(.7); */
    display: block;
    background-size: 24px;
}

.search-bottom {
    display: flex;
    width: 95%;
    height: 80px;
    position: absolute;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
    top: 135px;
    left: 10px;
}

.search-bottom li {
    flex: 1;
}

.search-bottom li a {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    /* x轴居中 侧轴*/
    align-items: center;
}

.search-bottom li .icon-local-scenic {
    width: 72px;
    height: 58px;
    background-image: url("../image/iconSpirit/home-sprite2.png");
    transform: scale(0.8);
    background-position: 0px -10px;
}

.search-bottom li .icon-local-around {
    width: 72px;
    height: 58px;
    background-image: url("../image/iconSpirit/home-sprite2.png");
    transform: scale(0.8);
    background-position: 0px -90px;
}

.search-bottom li .icon-local-food {
    width: 72px;
    height: 58px;
    background-image: url("../image/iconSpirit/home-sprite2.png");
    transform: scale(0.75);
    background-position: 0px -169px;
}

.search-bottom li .icon-local-oneday {
    width: 72px;
    height: 58px;
    background-image: url("../image/iconSpirit/home-sprite2.png");
    transform: scale(0.78);
    background-position: 0px -250px;
}

.search-bottom li .icon-local-strategy {
    width: 72px;
    height: 58px;
    background-image: url("../image/iconSpirit/home-sprite2.png");
    transform: scale(0.78);
    background-position: 0px -330px;
}

.nav {
    width: 95%;
    height: 220px;
    display: grid;
    /* border-radius: 30px; */
    margin-left: 10px;
    margin-top: 20px;
    /* border: 1px solid white; */
    grid-template-columns: 34% 22% 22% 22%;
    grid-template-rows: 33% 33% 33%;
}

.nav .grid-nav-common {
    border: 1px solid white;
}

.nav .grid-nav-common:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.grid-nav-common span {
    font-size: 14px;
    line-height: 70px;
    display: inline-block;
}

.nav a:nth-child(1) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../image/grid-nav-items-hotel@v7.15.png");
    background-repeat: no-repeat;
    background-position: 30px 25px;
    background-size: 100px;
    /* background-color: linear-gradient(#fa5956, #fa7252); */
    background-color: #fa7252;
}

.nav a:nth-child(2) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../image/grid-nav-items-minsu@v7.15.png");
    background-repeat: no-repeat;
    background-position: 0px 54px;
    background-size: 30px;
    background-color: #fb7e52;
}

.nav a:nth-child(3) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../image/grid-nav-items-jhj@v7.15.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: #ffca4f;
}

.nav a:nth-child(4) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../image/grid-nav-items-flight@v7.15.png");
    background-repeat: no-repeat;
    background-position: 5px 18px;
    background-size: 120px;
    background-color: #629fe4;
}

.nav a:nth-child(5) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../image/grid-nav-items-train.png");
    background-repeat: no-repeat;
    background-position: 0px 30px;
    background-size: 55px;
    background-color: #6bb5ee;
}

.nav a:nth-child(6) .grid-nav-common-image {
    width: 100%;
    height: 100%;
    background-color: #5eb7ee;
}

.nav a:nth-child(7) .grid-nav-common-image {
    width: 100%;
    height: 100%;
    background-color: #72b9e6;
}

.nav a:nth-child(8) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../image/grid-nav-items-travel@v7.15.png");
    background-repeat: no-repeat;
    background-position: 10px 13px;
    background-size: 115px;
    background-color: #48c49e;
}

.nav a:nth-child(9) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../image/grid-nav-items-dingzhi@v7.15.png");
    background-repeat: no-repeat;
    background-position: 0px 45px;
    background-size: 85px;
    background-color: #5bc98c;
}

.nav a:nth-child(10) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #71cf84e1;
}

.nav a:nth-child(11) .grid-nav-common-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #88d682ec;
}

.subnav-entry {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    width: 95%;
    height: 130px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 10px;
    /* font-weight: 300; */
}

.subnav-entry-a .subnav-entry-icon {
    display: inline-block;
    position: relative;
    bottom: -50px;
    /* bottom: 0; */
    /* text-align: center; */
    margin-left: 13px;
    /* margin-top: -100px; */
    /* line-height: 120px; */
}

.subnav-entry li:nth-child(1) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 5px -5px;
    background-size: 60px;
}

.subnav-entry li:nth-child(2) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -68px;
    background-size: 60px;
}

.subnav-entry li:nth-child(3) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -116px;
    background-size: 55px;
}

.subnav-entry li:nth-child(4) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -170px;
    background-size: 55px;
}

.subnav-entry li:nth-child(5) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -227px;
    background-size: 55px;
}

.subnav-entry li:nth-child(6) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 5px -280px;
    background-size: 55px;
}

.subnav-entry li:nth-child(7) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -333px;
    background-size: 55px;
}

.subnav-entry li:nth-child(8) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -387px;
    background-size: 55px;
}

.subnav-entry li:nth-child(9) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -440px;
    background-size: 55px;
}

.subnav-entry li:nth-child(10) a {
    display: inline-block;
    padding-top: 5px;
    width: 80px;
    height: 45px;
    background-image: url("../image/iconSpirit/spirit1.png");
    background-repeat: no-repeat;
    transform: scale(0.85);
    background-position: 10px -496px;
    background-size: 55px;
}

.sales-hd {
    height: 50px;
    /* background-color: palegreen; */
    position: relative;
    margin-top: 15px;
    background-image: url("../image/nav/un_home_text.png");
    background-repeat: no-repeat;
    background-position: 0px -30px;
    transform: scale(0.7);
    margin-left: -55px;
}

.sales-hd::after {
    display: inline-block;
    content: "";
    width: 80px;
    height: 50px;
    background-image: url("../image/icon-gg@2x.png");
    background-repeat: no-repeat;
    transform: translateX(150px);
    /* margin-left: 150px; */
    /* line-height: 25px; */
    /* text-align: center; */
}

.sales-hd::before {
    display: inline-block;
    content: "获取更多福利";
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    right: -70px;
    top: 10px;
    width: 150px;
    height: 25px;
    background: linear-gradient(#ff4f65, #ff6bc8);
    border-radius: 30px;
}

.sales-box-huodong {
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 30% 30%;
}

.sales-box-huodong div {
    border: 1px solid rgba(174, 174, 174, 0.304);
}

.sales-box-huodong div:nth-child(1) {
    background-size: 192px;
    background-position-y: -9px;
    background-image: url("../image/nav/yihufuli.jpg");
}

.sales-box-huodong div:nth-child(2) {
    background-size: 192px;
    background-position-y: -9px;
    background-image: url("../image/nav/baiyuandalibao.jpg");
}

.sales-box-huodong div:nth-child(3) {
    background-size: 192px;
    background-image: url("../image/nav/lvxingyongping.png");
}

.sales-box-huodong div:nth-child(4) {
    background-size: 192px;
    background-image: url("../image/nav/lingjuan.jpg");
}

.sales-box-huodong div:nth-child(5) {
    background-size: 192px;
    background-image: url("../image/nav/yiqing.jpg");
}

.sales-box-huodong div:nth-child(6) {
    background-size: 192px;
    background-image: url("../image/nav/jingxuan.jpg");
}

.tool-cn {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.tool-cn a {
    height: 60px;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.tool-cn a span {
    display: block;
    text-align: center;
    font-size: 5px;
}

.tool-help {
    text-align: center;
}

.tool-help a {
    color: rgb(121, 121, 121);
}

.copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: rgba(164, 164, 164, 0.863);
}