* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.wrapper {
    height: 460px;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
}

.slider .img {
    width: 1905px;
}

.wrapper .wrapperShow {
    position: absolute;
    width: 7608px;
    left: 0;
    transition: 1s
}

.wrapper .wrapperShow:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper .wrapperShow .slide {
    float: left;
}

html {
    background-color: #f8f8f8;
}


/*********************头部样式***************************/

.head {
    width: 1206px;
    height: 90px;
    margin: 0 auto;
}

.head_l {
    width: 377px;
    height: 90px;
}

.logo {
    display: block;
    height: 22px;
    width: 234px;
    background-image: url("images/icons/netnease-edu-logo-black.png");
    margin-top: 40px;
}

.head_l input {
    width: 50px;
    height: 20px;
    background-color: #17a25e;
    color: white;
    text-align: center;
    display: block;
    margin: -22px 0px 0px 260px;
    cursor: pointer;
}

.head_l span {
    display: block;
    margin: -16px 0px 0px 20px;
}

.head_r {
    width: 410px;
    margin-top: -37px;
}

.head_r a {
    display: inline-block;
    font-size: 18px;
    margin: 45px 27px 0 0;
}

.head_r a:hover {
    color: #17a25e;
}

.searchbox {
    position: relative;
    transition: all 1s;
    overflow: hidden;
    width: 20px;
    left: 320px;
    top: 43px;
}

.searchbox:hover {
    width: 140px;
    transform: translateX(-100px);
}

.searchInput {
    position: relative;
    left: 20px;
    top: 7px;
    border: 0px;
    height: 20px;
}

.search {
    float: left;
    position: relative;
    top: -13px;
    width: 20px;
    height: 20px;
    background-image: url("images/icons/magnifiy.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.search:hover {
    background-image: url("images/icons/magnifiy-hover.png");
}


/***********************内容样式*****************************/

.container_itrd {
    margin: 0 auto;
    width: 1206px;
}

.container_itrd ul li {
    float: left;
    width: 29%;
    margin-top: 60px;
    margin-left: 50px;
}

.info_icon1 {
    background-image: url("images/spirit.png");
    background-position: 0 -83px;
}

.info_icon2 {
    background-image: url("images/spirit.png");
    background-position: -80px -83px;
}

.info_icon3 {
    background-image: url("images/spirit.png");
    background-position: -160px -83px;
}

.container_itrd ul li div a {
    float: left;
    color: #17a25e;
}

.info {
    margin-top: -20px;
    margin-left: 100px;
}

.info_title {
    line-height: 60px;
    font-size: 22px;
}

.info_word {
    line-height: 23px;
    font-size: 14px;
    opacity: 0.8;
}

.info_more {
    line-height: 50px;
}

video {
    width: 187px;
    height: 132px;
}

.container_img {
    width: 100%;
    background-color: white;
}

.container_img img {
    display: block;
    float: left;
    width: 100%;
}


/* .container_img img:first-child {
        margin-left: 22px;
    } */

.container_lesson {
    margin: 0 auto;
    width: 1206px;
}


/* .container_lesson ul{
    display: table;

} */

.container_lesson li {
    display: table-row;
}

.container_lesson div {
    float: left;
    /* box-sizing: border-box; */
    width: 220px;
}

.container_lesson input {
    width: 200px;
    height: 50px;
    background-color: rgb(236, 236, 236);
    border: 1px solid transparent;
    font-size: 20px;
    cursor: pointer;
}

.container_lesson input:hover {
    background-color: #3f9e37;
    color: white;
}

.lesson_curson {
    height: 265px;
    background-color: white;
    margin: 5px;
}

.container_lesson div img {
    width: 100%;
    height: 52%;
}

.lesson_curson span {
    display: block;
    width: 100%;
    line-height: 30px;
    margin-left: 5px;
    color: gray;
    opacity: 0.8;
}

.lesson_curson span:first-of-type {
    color: black;
    font-weight: 800;
}

.lesson_curson span:last-child {
    color: RGB(250, 99, 49);
}

.container_lesson div span img {
    width: 12px;
    height: 12px;
}

.dddd {
    width: 220px;
    height: 230px;
    background-color: black;
}

.lesson_right {
    width: 260px;
}

.lesson_right_1 {
    height: 238px;
    /*做完可去掉*/
    background-color: white;
}

.lesson_right_1 span {
    border-bottom: 1px solid #d5d3d2;
}

.lesson_right_1 span p {
    font-size: 16px;
    font-weight: 600;
    line-height: 55px;
    margin-left: 20px;
    color: black;
}

.lesson_right_1 p {
    color: gray;
    line-height: 30px;
}

.lesson_right_1 div {
    border: 0;
    margin: 18px;
    width: 190px;
}

.lesson_right_2 {
    /* width: 190px; */
    border: 1px solid #d5d3d2;
    margin-top: 20px;
    background-color: white;
}

.lesson_right_2 span {
    border-bottom: 1px solid #d5d3d2;
}

.lesson_right_2 div {
    border: 0;
}

.lesson_right_p1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 55px;
    margin-left: 20px;
}

.lesson_right_2 div img {
    width: 50px;
    height: 50px;
    margin: 15px 0px 0px 15px;
}

.lesson_right_p2 {
    width: 120px;
    font-size: 13px;
    margin: -50px 0px 0px 80px;
}

.container_botton {
    background-color: #2c3339;
    width: 100%;
    height: 260px;
}

.container_botton ul {
    margin: 0 auto;
    width: 1206px;
}

.container_botton_li1 div {
    width: 235px;
    height: 20px;
    background-image: url("images/icons/netnease-edu-logo.png");
    margin-top: 25%;
}

.container_botton p {
    font-size: 13px;
    color: #a6a3a3;
}

.container_botton_li1 p {
    width: 370px;
    margin-top: 30px;
    line-height: 15px;
}

.container_botton a {
    font-size: 15px;
    color: #a6a3a3;
}

.lesson_right_article {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lesson_curson {
    transition: all .4s;
    position: relative;
    overflow: hidden;
}

.lesson_curson:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
}