<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <ul v-for='a in arr'>
            <li v-for='(p,k,i) in a'>{{i}}:{{k}}:{{p}}</li>
        </ul>
    </div>
</body>
<script src="../vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            arr: [{
                name: '张三',
                age: 18,
                sex: '男'
            }, {
                name: '李四',
                age: 19,
                sex: '女'
            }, {
                name: '王五',
                age: 20,
                sex: '男'
            }, ]
        }
    })
</script>

</html>