<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model='msg'>
        <p>{{msg}}</p>
        <input type="text" v-model.lazy='msg'></br>
        <input type="checkbox" v-model='flag'>
        <input type="radio" v-model='flag' value="apple">苹果（会显示绑定在标签里面value的值）
        <input type="radio" v-model='flag' value="banana">香蕉（会显示绑定在标签里面value的值）
        <p>勾选checkbox或者radio提示什么呢？{{flag}}</p>
        <p>v-model还可以绑定数组</p>
        <input type="checkbox" v-model='arr' value="111111">1
        <input type="checkbox" v-model='arr' value="222222">22
        <input type="checkbox" v-model='arr' value="333333">333
        <input type="checkbox" v-model='arr' value="444444">4444
        <p>{{arr}}</p>
    </div>
</body>
<script src="../vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            msg: '',
            flag: '',
            arr: []
        },
        methods: {
            fn(ev) {
                this.msg = ev.traget.value
            }
        }
    })
</script>

</html>