* {
    margin: 0;
    padding: 0;
}


/* .container {
    margin: auto;
} */

ul li {
    list-style: none;
}

img {
    width: 200px;
    height: 260px;
}

.shopCar {
    border: 1px solid black;
    width: 66%;
}

.container ul li {
    display: inline-block;
    border: 1px solid black;
}


/* .shopCar span {
    margin: 80px;
} */

.shopCar ul li {
    border-bottom: 1px solid black;
    margin: 5px;
}

.shopCar ul li span {
    margin: 60px;
}

.shopCar img {
    margin: 0 10px;
    width: auto;
    height: 70px;
    vertical-align: middle;
}

#priceSum {
    position: absolute;
    right: 48%;
}